data/member_6460017.xml

<?xml version ="1.0" encoding ="UTF-8"?>

<!ELEMENT note (to,from,heading,body)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT message (#PCDATA)>
						<note>
							<to>user</to>
							<from>Thushanthy</from>
							<heading>Reminder</heading>
							<message>Don't forget to subscribe me</message>
						</note>